.quem-sou {
            text-align: center;
            color:blueviolet;
            font-size: 40px;
            font-family: Arial, sans-serif;
            font-weight: bold;
            background-color: #efea96;
            padding: 10px;
            border-radius: 10px;
            width: 50%;
            margin: 0 auto;
     }
#texto {
            text-align: center;
            color:black;
            font-size: 20px;
            font-family: Arial, sans-serif;
            font-weight: bold;
            background-color: #efea96;
            border: 2px solid blueviolet;
            padding: 10px;
            border-radius: 10px;
            width: 50%;
            margin: 0 auto;
            line-height: 1.5;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
