*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.pai {
    height: 100vh;
    border: 5px solid black;
    display: flex;
    /*gap: 5px;
    justify-content: center;
    align-items: center;*/
}

.pai > div {
    height: 100px;
    width: 100px;
    border: 2px solid red;
    margin: 5px;
}

.filho1 {
    background-color: lightblue;
    
}

.filho2 {
    background-color: lightgreen;
      
}

.filho3 {
    background-color: lightcoral;
        
}